
.flag{
    background-color: #002868;
    width: 500px;
    height: 350px;
    position: relative;
    top: 200px;
    left: 200px;
}


.red{
    background-color: #CE1126;
    width: 500px;
    height: 100px;
    position: relative;
}

.circle{
    width: 150px;
    height: 150px;
    background-color: white;
    position: relative;
    margin: 25px 0px;
    margin-left: 170px;
    border-radius: 100%;
}

h1{
    color: black;
    text-align: center;
}